.maintenance-container {
    text-align: center;
    margin-top: 20%;
    font-family: Arial, sans-serif;
  }
  
  .maintenance-container h1 {
    font-size: 2rem;
    color: #ff9900;
  }
  
  .maintenance-container p {
    font-size: 1.2rem;
    color: #555;
  }