:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #000000;
  --secondary-color: #2d2d2d;
  --background-color: #1f2020;
  --text-color: #ffffff;

  --background-hover: #4C4C4E;

  --background-photo: #a7a7a7;
}